html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#footer {
    height: 60px;
    background-color: #f5f5f5;
}
#wrap > .container {
    padding: 80px 15px 0;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
.container .text-muted {
    margin: 20px 0;
}
.text-muted {
    color: #999999;
}

.login-form {
    margin-left: 0;
    margin-right: 0;
    background-color: #efefef;
    border-width: 1px;
    border-color: #dddddd;
    border-radius: 4px;
    box-shadow: none;
    padding: 30px;
}